</main>

<footer class="bg-blue-900 inline-block text-white text-center py-4 w-full">
    <p>© 2025, Criado por <%= perfil.nome %></p>
</footer>

</body>

<script>

    const swiper = new Swiper('.mySwiper', {
        loop: true,
        spaceBetween: 100, // Espaçamento entre slides
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
    
    
    </script>

</html>