<!-- Projetos Section -->
<section id="projetos" class="py-20">
    <div class="container mx-auto">
        <div class="bg-white rounded-lg shadow-lg p-6">
            <h2 class="text-3xl font-bold text-blue-900 text-center mb-6">PROJETOS</h2>
            <!-- Swiper -->
            <div class="swiper mySwiper relative pt-0 p-20">
                <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
    
                        <div class="flex flex-col md:flex-row gap-6 items-center"> 
                            <video class="w-1/2 rounded-lg mb-4" controls>
                                <source src="./vid/The Devs Dept - Sprint 1 - Pedro Henrique Vaz (1080p, h264, youtube).mp4" type="video/mp4">
                                Seu navegador não suporta o vídeo.
                            </video>
                            <p class="text-gray-700 text-lg">   
                                <a href="https://github.com/nicolygz/the-devs-department" target="_blank" class="w-full block bg-blue-100 text-blue-900 text-center font-bold shadow-md border border-black py-2 rounded-3xl hover:bg-blue-200 transition">API Primeiro Semestre</a> 
                                <br>
                                <span class="font-bold">Descrição:</span> Projeto que organiza e apresenta, de forma interativa e acessível, dados disponibilizados pelo site da prefeitura sobre proposições, frequência, e participação em comissões de cada vereador.
                                <br><br>
                                <span class="font-bold">Tecnologias utilizadas:</span> Html, CSS, Flask, Python, Javascript, Tailwind Framework, Railway (BD remoto), Jira, Figma, Microsoft Excel, Visual Studio Code (VSC) e Github.
                                <br><br>
                                <span class="font-bold">Atuação:</span> Modelo Ágil - DevTeam - FrontEnd e Backend, raspagem de dados e web design (Html, CSS, Flask, Python, Javascript, Tailwind, Railway)
                            </p>
                        </div>
                    </div> 
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                
                        <div class="flex flex-col md:flex-row gap-6 items-center"> 
                            <img class="w-1/4 rounded-lg mb-4" src="./img/Projeto2.png" alt="Projeto 2">
                            <p class="text-gray-700 text-lg">   
                                <a href="https://github.com/the-devs-department/helpnei" target="_blank" class="w-full block bg-blue-100 text-blue-900 text-center font-bold shadow-md border border-black py-2 rounded-3xl hover:bg-blue-200 transition">API Segundo Semestre</a> 
                                <br>
                                <span class="font-bold">Descrição:</span> Desenvolvimento de um Dashboard de Indicadores para a Helpnei, que centraliza e apresenta, de forma interativa, dados sobre lojas, usuários e transações. A interface é responsiva e intuitiva, permitindo o acompanhamento do desempenho da plataforma por meio de métricas como número de lojas criadas, usuários impactados e distribuição geográfica.
                                <br><br>
                                <span class="font-bold">Tecnologias utilizadas:</span> React, TypeScript, JavaScript, Tailwind CSS, HTML5, CSS3, Node.js, Express, SQL e Git.
                                <br><br>
                                <span class="font-bold">Atuação:</span> Modelo Ágil - DevTeam - FrontEnd, desenvolvimento de interface, consumo de dados e integração com backend (React, Node.js, Express, SQL, Tailwind).
    
                            </p>
                        </div>
                    </div> 
    
                </div>
                <!-- Navegação -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next !right-5"></div>
                <div class="swiper-button-prev !left-5"></div>
            </div>
        </div>
    </div>
    </section>